.filter-pack-item {
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  width: 100%;
  background-color: #fff;
  color: var(--blue-primary-300, #6698ca);
  /* Roboto/20px: Medium */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter-pack-item path {
  fill: var(--blue-primary-500, #0054a6);
  stroke-width: 1px;
  stroke: var(--blue-primary-500, #0054a6);
}
.item-focus {
  background-color: #0054a6 !important;
  color: white !important;
  path {
    fill: white;
    stroke-width: 1px;
    stroke: white;
  }
}
.filter-pack-item:hover {
  cursor: pointer;
  color: #0054a6;
}
