.card-news-container {
  overflow: hidden;
  cursor: pointer;
}
.card-news-img > div {
  opacity: 0;
  z-index: 1;
}
.card-news-container:hover {
  img {
    transform: scale3d(1.5, 1.5, 1);
    transition: transform 0.8s ease-out;
  }
  .card-news-img > div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #00000080;
    opacity: 1;
    transition-duration: 0.8s;
    transition-timing-function: ease-out;
    /* z-index: 10; */
  }
}
