@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: aqua;
}
footer {
  /* Roboto/16px: Regular */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 131.25% 
}
.name-cty {
  /* color: var(--White, #FFF); */
  font-family: "Helvetica Neue";
  font-size: 13.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.name-logo {
  color: #9FF;
  font-family: "Helvetica Neue";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
}